{% extends 'base.html' %}
{% load static %}

{% block contenido %}

<section id="about" class="historia">
    <div class="container" data-aos="fade-up">
        <br>
        <br>

        <div class="row"> <!-- una columna -->
        
            <div class="col-lg-12 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h2 style="text-align: center;">Nuestros inicios</h2>
            <h3 class="fst-italic" style="text-align: center;">
                ….Se hace camino al andar…
            </h3>
            
            <ul>
                <li><i class="bi bi-check-circle">¿Cómo nacieron las CEB?</i></li>
            </ul>
            <p>
                Presentes en la Diócesis de San Roque, Provincia de Chaco, localidad de Juan José Castelli
                En el año 1995 comenzaron a visitar los barrios periféricos un grupo de jóvenes misioneros. 
                La misión surge a solicitud de la Hermana Nancy Sabattini, por entonces religiosa de la congregación 
                Hijas de Nuestra Señora de la Misericordia, quien ya visitaba los barrios que recibirían la visita de 
                los misioneros. Los objetivos de dicha misión fueron, identificar referentes barriales, formación bíblica, 
                celebración de la Palabra en las casas de las familias, entre otros. Una vez finalizada la misión, se continuó 
                el servicio de animación en dichos barrios con los/as referentes identificados/as continuando con las celebraciones 
                y otros servicios. A medida que la ronda de las familias crecía,  se vio la oportunidad de organizar las mismas según 
                la cercanía y pertenencia a cada micro sector del barrio. Estos micro sectores estaban diseñados por un radio de entre
                4 a 6 manzanas; las familias pertenecientes a ese radio se reunirían en las diferentes casas, celebrando la Palabra
                en comunidad. Por algunos años fueron Ana Belén Molina, misionera, laica, y por entonces la hermana Nancy Sabattini,
                quienes, prácticamente cada día de la semana animaban una celebración de la Palabra en las pequeñas comunidades 
                recientemente organizadas. 
            </p>

            </div>
        </div>

        <br>

        <div class="row"> <!--dos culumnas-->
            <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                <div class="historia-img">
                    <img src="{% static 'img/grupal2.png' %}" alt="" width="100%"> <!--Cambiar imagen-->
                </div>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                <p>
                    La bendición del Obispo, no se hizo esperar. Monseñor Lorenzo Sartori nos acogió y envió como CEB, a 
                    evangelizar en cada rincón de los barrios donde estas florecieran. <br> <br>
                    Monseñor Gustavo Montini, quien fuera obispo auxiliar por un tiempo en el año 2017, también nos visitó, 
                    renovando el reconocimiento y envío <br> <br>
                    Monseñor Hugo Nicolás Barbaro, actual Obispo de la Diócesis, continúa impulsando el servicio evangelizador, 
                    de las CEB, en los barrios periféricos de Castelli <br> <br>
                </p>
            </div>
        </div>

        <br>

        <div class="row">
        
            <div class="col-lg-12 pt-4 pt-lg-0 order-2 order-lg-1 content">
                <p>
                    Con el correr del tiempo, cada pequeña comunidad eligió un santo/a o una advocación a la Virgen María, 
                    como patrono/a poniendo a las familias bajo su amparo y posteriormente comenzaron a organizar sus novenas y 
                    fiestas patronales. Una vez afianzada esta primera etapa, cada pequeña Iglesia eligió, de común acuerdo, una 
                    animadora, quien tendría el servicio de convocar, recordar, articular. Así surge el “equipo de animadoras”, 
                    con las representantes de cada pequeña comunidad, un espacio semanal de fraternidad, articulación, formación y 
                    lectura orante de la Palabra, de manera especial preparando la celebración que cada una de ellas animaría en su 
                    pequeña comunidad. Este equipo persiste hasta el día de hoy y fue uno de los elementos centrales para el 
                    acompañamiento y sostenimiento de las CEB. Otra característica central en este modelo de Iglesia, es la “casa 
                    de familia”, es ser la Iglesia de las casas…todo lo que como Iglesia se vive, se lo hace en ellas. A medida que 
                    fuimos creciendo fue necesario contar con un espacio físico que albergara a las 11 comunidades existentes. 
                    Fue así, que nació, hace 7 años la “Casa Angelelli”, lugar de encuentro y formación…punto de referencia para 
                    los vecinos, diferentes organizaciones sociales, y movimientos pastorales. Esta “Casa” está ubicada en el barrio 
                    donde se iniciaron las CEB y en la periferia de la localidad.
                </p> 
            </div>
        </div>

        <br>

        <div class="row"> <!--dos culumnas-->
            <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                <div class="historia-img">
                    <img src="{% static 'img/grupal3.png' %}" alt="" width="100%"> <!--Cambiar imagen-->
                </div>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                <p>
                    <ul>
                        <li><i class="bi bi-check-circle"></i>Fruto de 22 años de trayectoria, de discipulado en comunidad los servicios asumidos giran en torno a:</li>
                    </ul>
                    <ul>
                        <li>
                            <i>⦁	Articulación en todas las instancias eclesiales: referente en el Consejo Parroquial- Delegadas diocesanas, regionales, nacionales y continental - Asesoría regional- Animación Continental
                            </i>
                        </li>
                        <li>
                            <i>⦁	Equipo de animadoras</i>
                        </li>
                        <li>
                            <i>⦁	Equipo de Catequesis</i>
                        </li>
                        <li>
                            <i>⦁	Animación de adolescentes y jóvenes</i>
                        </li>
                        <li>
                            <i>⦁	Misiones en barrios y parajes rurales</i>
                        </li>
                        <li>
                            <i>⦁	Mesa de servidores/as (integrado por quienes prestan un servicio)</i>
                        </li>                   
                    </ul>
                </p>
            </div>
        </div>

        <br>

        <div class="row"> <!--dos culumnas-->
            <div class="col-lg-6 order-1 order-lg-1" data-aos="zoom-in" data-aos-delay="100">
                <div class="historia-img">
                    <img src="{% static 'img/grupal1.png' %}" alt="" width="100%"> <!--Cambiar imagen-->
                </div>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-2 content">
                <p>
                    <ul>
                        <li>
                            <i>⦁	“El Ángel de la bicicleta”: espacio conformado por jóvenes y adolescentes quienes además 
                                organizan, realizan, evalúan y celebran, el “Hormigazo”, fiesta popular, en memoria a la vida y 
                                luchas de Claudio “Pocho” Lepratti.</i>
                        </li>
                        <li>
                            <i>⦁	Equipo de asistencia inmediata ( ubicado en una de las zonas pastorales)</i>
                        </li>
                        <li>
                            <i>⦁	Equipo de comunicación y arte</i>
                        </li>
                        <li>
                            <i>⦁	Articulación con organizaciones sociales, Iglesias Protestantes, estamentos del Estado. 
                                Comisiones vecinales, entre otros. </i>
                        </li>
                    </ul>
                </p>
            </div>
            
        </div>
        <br>
        <div class="row"> <!-- una columna -->
            <p>
                Monseñor Hugo Nicolás Barbaro, actual Obispo de la Diócesis, continúa impulsando el servicio evangelizador de las 
                CEB, en los barrios periféricos de Castelli, y fue con su consentimiento y cercanía pastoral, que llevamos 
                adelante la realización del XIII Encuentro Regional, noviembre del año 2019. ( NEA: NorEste Argentino) 
            </p>

            <p>
                La formación permanente, tanto bíblica, teológica, y sobre la identidad de la CEB, así como capacitaciones 
                ara el abordaje de las mismas situaciones de la vida, (prevención de la violencia de género, acceso a la 
                justicia, entre otros), dan una impronta en el quehacer de la vida en comunidad. Actualmente, somos parte 
                en la experiencia continental de formación “Bendita Mezcla” y de la “Escuelita de Biblia y Teología Monseñor 
                Oscar Romero”.
            </p>        
        </div>
        <br>

        <div class="row"> <!-- una columna -->
        
            <div class="col-lg-12 pt-4 pt-lg-0 order-2 order-lg-1 content">              
                <ul>
                    <li><i class="bi fst-italic">En pandemia</i></li>
                </ul>
                <p>
                    La llegada de la pandemia, nos afligió, nos demandó recrear el modo de animación, de celebración y 
                    de presencia activa y solidaria en cada barrio en el cual estamos presente. Pero no nos detuvo…
 
                </p>
                <p>
                    Nace, “Semillas del Reino”, cruz diseñada, creada y pintada por un equipo de adolescentes y adultos miembros 
                    de la CEB, Santa Teresita del Niño Jesús. En esta, representan con un símbolo a cada una de las CEB. “Semillas 
                    del Reino”, es una cruz misionera que visita las familias de los barrios, como acción de gracias por todo lo que 
                    Dios ha hecho en nuestras vidas.
                </p>
                <p>
                    Damos gracias a Dios Padre-Madre por su infinita misericordia.
                </p>
                <p>
                    Suplicamos al Espíritu Santo el don de la audacia, para ser “escuchadores/as de los clamores del pueblo y de la tierra”
                </p>
                <p>
                    “Seamos realistas, pero sin perder la alegría, la audacia y la entrega esperanzada.¡No nos dejemos robar la fuerza misionera” (E.G. Nº 109)
                </p>
                <p>
                    Beatos Martires Riojanos, rueguen por nosotros.
                </p>

                <p>
                    <li>
                        	CEB: Santa Maria Jose Rossello, San Roque, Santa Rita, Santa Rosa de Lima, San Ramón, 
                            San Antonio, San Catalina, San Pantaleón, Ntra. Sra. Rosario de San Nicolás, Sta Teresita del Niño 
                            Jesús, San Cayetano, Virgen de Luján, San Martín de Porres.
                    </li>
                </p>
                <ul>
                    <li>
                        <i>“Lo que hemos oído, lo que hemos visto con nuestros ojos. Lo que hemos mirado y 
                            nuestras manos han palpado acerca del Verbo que es Vida…lo que hemos visto y oído 
                            se lo damos a conocer” (1 Jn 1,1.3a)</i>
                    </li>
                </ul>

            </div>
        </div>

    </div>
</section><!-- End historia Section -->



{% endblock contenido %}

{% load static %}

