{% extends "base.html"%}
{% load static %}



{% block contenido %}
<section id="about" class="about">
    <div class="container" data-aos="fade-up"> 
        <br>
        <br>
        <div class="row"> 
            <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                <div class="about-img">
                    <img src="{% static 'img/talleres2.jpg' %}" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                <div class="about-img">
                    <img src="{% static 'img/talleres.jpg' %}" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                <div class="about-img">
                    <img src="{% static 'img/talleres3.jpg' %}" alt="">
                </div>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                <h2>¿Quienes somos?</h2>
                <p class="fst-italic">
                    Somos una instancia misionera de la iglesia, próxima a las personas en los barrios más humildes de la ciudad y en la zona rural, con el objetivo de hacer visible la unión entre la fe y la vida. 
                </p>
                <br>
                <h3>Nuestra misión</h3>
                <ul>
                    <li><i class="bi bi-check-circle"></i> Educación, Capacitacion y Asesoría</li>
                    <li><i class="bi bi-check-circle"></i> Educamos, capacitamos, fomentando la lucha por la Justicia Social y la fe, realizando: </li>
                </ul>
                <ul>
                    <li>
                        <i>⦁   Talleres de Derechos humanos</i>
                    </li>
                    <li>
                        <i>⦁   Talleres sobre Violencia de Género</i>
                    </li>
                    <li>
                        <i>⦁   Talleres sobre Adicciones</i>
                    </li>
                    <li>
                        <i>⦁   Talleres de Emprendimiento</i>
                    </li>
                    <li>
                        <i>⦁   Huerta Orgánica</i>
                    </li>
                </ul>
            </div>
        </div>

        <br>
        <br>

        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                <div class="about-img">
                    <img src="{% static 'img/acompañamiento1.jpg'%}" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                <div class="about-img">
                    <img src="{% static 'img/acompañamiento2.jpg'%}" alt="">
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                <br>
                <br>
                <ul>
                    <li><i class="bi bi-check-circle"></i> Asistencia y acompañamiento</li>
                </ul>
                <ul>
                    <li>
                        <i>⦁	Charlas sobre inquietudes y problemas de zonas desfavorables para luego llevarlas con la autoridad correspondiente.</i>
                    </li>
                    <li>
                        <i>⦁	Encuentros con los Jóvenes.</i>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row"><div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
            <div class="about-img">
                <img src="{% static 'img/eventos1.jpg'%}" alt="">
            </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
            <div class="about-img">
                <img src="{% static 'img/eventos2.jpg'%}" alt="">
            </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
            <div class="about-img">
                <img src="{% static 'img/eventos3.jpg'%}" alt="">
            </div>
        </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                <br>
                <br>
                <ul>
                    <li><i class="bi bi-check-circle"></i> Difusión y organizacion de eventos</li>
                </ul>
                <ul>
                    <li>
                        <i>⦁   Organizar Fiestas Patronales</i>
                    </li>
                </ul>
            </div>
        </div>
        </div>

    </div>
</section>

{% endblock contenido %}

